<!DOCTYPE html>
<html>
<head>
    <title>Ver Datos</title>
</head>
<body>
    <h1>Datos de MongoDB</h1>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Correo Electrónico</th>
            </tr>
        </thead>
        <tbody>
            {% for dato in datos %}
                <tr>
                    <td>{{ dato.nombre }}</td>
                    <td>{{ dato.edad }}</td>
                    <td>{{ dato.correo }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
