<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Generación de PDF</title>
</head>
<body>
    <h1 class="is-size-1" style="text-align: center;">Receta Médica</h1>

    <form action="/generate_pdf" method="POST" enctype="multipart/form-data">
        <!-- Datos del paciente -->
        <div>
            <label for="dni">DNI:</label>
            <input type="text" id="dni" name="dni" required>
        </div>
        <div>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
        </div>
        <div>
            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
            <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required>
        </div>
        <div>
            <label for="historial">Historial:</label>
            <textarea id="historial" name="historial" rows="4" cols="50" required></textarea>
        </div>

        <!-- Receta médica -->
        <div>
            <label for="medicamento">Medicamento:</label>
            <textarea id="medicamento" name="medicamento" rows="4" cols="50" required></textarea>
        </div>

        <div>
            <input type="submit" value="Generar PDF">
        </div>
    </form>
</body>
</html>
