<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Generación de PDF</title>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.1/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/recetaMedica.css') }}" />
  </head>
  <body>
    <form action="/generate_pdf" method="POST" enctype="multipart/form-data">
      <h1 class="is-size-1" style="text-align: center;">Receta Médica</h1>
      <h1 class="is-size-1">Datos del paciente</h1>
      <div class="form-row">
        <label for="dni">DNI:</label>
        <p>{{ paciente.dni }}</p>
        <input type="hidden" name="dni" value="{{ paciente.dni }}" />
      </div>

      <div class="form-row">
        <label for="nombre">Nombre:</label>
        <p>{{ paciente.nombre }}</p>
        <input type="hidden" name="nombre" value="{{ paciente.nombre }}" />
      </div>

      <div class="form-row">
        <label for="apellido">Apellido:</label>
        <p>{{ paciente.apellido }}</p>
        <input type="hidden" name="apellido" value="{{ paciente.apellido }}" />
      </div>

      <div class="form-row">
        <label for="email">Email:</label>
        <p>{{ paciente.email }}</p>
        <input type="hidden" name="email" value="{{ paciente.email }}" />
      </div>

      <div class="form-row">
        <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
        <p>{{ paciente.fecha_nacimiento }}</p>
        <input type="hidden" name="fecha_nacimiento" value="{{ paciente.fecha_nacimiento }}" />
      </div>

      <div>
        <label for="medicamento">Medicamento:</label>
        <br />
        <textarea id="medicamento" name="medicamento" rows="4" cols="50" required></textarea>
      </div>
      <input class="button is-primary" type="submit" value="Generar PDF" />
    </form>
  </body>
</html>
