<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Formulario de Alta de Paciente</title>
    <link rel="stylesheet" type="text/css" href="/static/css/registro.css">
</head>

<body>
    <div class="container">
        <h2>Formulario de Alta de Paciente</h2>
        <form action="/registrar" method="POST">
            <!-- Datos Personales -->
            <div class="form-group">
                <label for="nombre">Nombre/s:</label>
                <input type="text" id="nombre" name="nombre" required value="{{ request.form.get('nombre', '') }}">
            </div>

            <div class="form-group">
                <label for="apellido">Apellido/s:</label>
                <input type="text" id="apellido" name="apellido" required
                    value="{{ request.form.get('apellido', '') }}">
            </div>

            <div class="form-group">
                <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
                <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required>
            </div>

            <div class="form-group">
                <label for="genero">Género:</label>
                <select id="genero" name="genero">
                    <option value="masculino">Masculino</option>
                    <option value="femenino">Femenino</option>
                    <option value="otro">Otro</option>
                </select>
            </div>

            <!-- Datos de Contacto -->
            <div class="form-group">
                <label for="email">Correo Electrónico:</label>
                <input type="email" id="email" name="email" required value="{{ request.form.get('email', '') }}">
            </div>
            <div class="form-group">
                <label for="codigo_postal">Código Postal:</label>
                <input type="text" id="codigo_postal" name="codigo_postal" required
                    value="{{ request.form.get('codigo_postal', '') }}">
            </div>

            <div class="form-group">
                <label for="localidad">Localidad:</label>
                <input type="text" id="localidad" name="localidad" required
                    value="{{ request.form.get('localidad', '') }}">
            </div>

            <div class="form-group">
                <label for="provincia">Provincia:</label>
                <input type="text" id="provincia" name="provincia" required
                    value="{{ request.form.get('provincia', '') }}">
            </div>

            <!-- Contraseña -->
            <div class="form-group">
                <label for="contrasena">Contraseña:</label>
                <!-- <input type="password" id="contrasena" name="contrasena" required> -->
                <input type="password" id="contrasena" name="contrasena"
                    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*]).{8,}$" required>
                <p>La contraseña debe contener al menos 8 caracteres, una letra mayúscula, una letra minúscula, un
                    número y un carácter especial.</p>
            </div>

            <div class="form-group">
                <label for="confirmar_contrasena">Confirmar Contraseña:</label>
                <input type="password" id="confirmar_contrasena" name="confirmar_contrasena" required>

            </div>

            <div class="form-group">
                <label for="historial_medico">Historial Médico:</label>
                <textarea id="historial_medico" name="historial_medico" rows="4" cols="50"
                    required>{{ request.form.get('historial_medico', '') }}</textarea>
            </div>
            <!-- Consentimiento -->
            <div class="form-group">
                <input type="checkbox" id="consentimiento" name="consentimiento" required>
                <label for="consentimiento">
                    Deseo ejercer mi derecho de acceso, de conformidad con los artículos 14 y 15 de la Ley Nº 25.326,
                    y de su Reglamentación aprobada por Decreto Nº 1558/01.
                </label>
            </div>
            <div class="form-group">
                <input type="checkbox" id="consentimiento" name="consentimiento" required>
                <label for="consentimiento">Acepto los <a
                        href="https://www.argentina.gob.ar/normativa/nacional/64790/actualizacion"
                        target="_blank">términos y condiciones</a> y doy mi consentimiento para el
                    procesamiento de mis datos personales.</label>
            </div>

            <div class="form-group">
                <label for="codigo_verificacion">Código de Verificación:</label>
                <input type="text" id="codigo_verificacion" name="codigo_verificacion">
                <p>Para obtener el codigo tiene que hacer click en el boton "Registrar Paciente".</p>
            </div>

            <!-- Mensajes de Error o Éxito -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-success" role="alert">
                <p id="mensaje">{{ messages[0] }}</p>
            </div>
            {% endif %}
            {% endwith %}
            <input type="submit" value="Registrar Paciente">
            <br><br><br>
            <a href="{{ url_for('mostrar_inicio') }}">Volver al menu principal</a>
        </form>
    </div>
</body>

</html>